* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: visible;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    color: white;
    font-family: var(--heading-font);
}


.nav-ul li a {
    /* padding: 10px 0px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255); */
    position: relative;
    padding: 10px 0px;
}

.nav-ul li a::after {
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    position: absolute;
    background-color: #ff4a17;
    height: 3px;
    transition: width 0.3s ease;
}

.nav-ul li a:hover::after {
    width: 100%;
}

.nav-ul li a.active::after {
    width: 100%;
}

.navbar-brand {
    font-size: 2rem;
}

#btn1 {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    border-color: white;
}

#btn1:hover {
    background-color: #ff4a17;
    border-color: #ff4a17;
}

.bann {
    background: url(https://themewagon.github.io/Dewi/assets/img/hero-bg.jpg);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.bann::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7)
}

.bann-txt {
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 1.5rem;
}

.bann-txt h1 {
    font-size: 3vw;
    transform: translateY(60px);
    opacity: 0;
    animation: upfade 1s ease forwards;
}

@keyframes upfade {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.bann-txt h3 {
    font-size: 2vw;
    opacity: 0;
    transform: translateY(60px);
    animation: fadeup 1s ease forwards;
}

@keyframes fadeup {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.play {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ff4a17;
}

.play::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #ff4a17;
}
.img-play{
     position: relative;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ff4a17;
}
.img-play::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 18px;
    border-color: transparent transparent transparent #ff4a17; 
}
.img-play:hover{
    background-color: #ff4a17;
}
.img-play:hover.img-play::before{
    border-color: transparent transparent transparent #ffffff; 
}
.two-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-play{
    top: 40vh;
}
#img-vid{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.08);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#img-vid iframe{
    width: 80%;
    height: 80%;
}
#btn-2 {
    padding: 15px 30px;
    background-color: #ff4a17;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.bann-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.vid {
    display: flex;
    align-items: center;
    gap: 13px;
}

.vid span:hover {
    color: #ff4a17;
}

.video-box {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-box iframe {
    width: 80%;
    height: 80%;
}

.drop-ul {
    opacity: 0;
    position: absolute;
    top: 100%;
    background: rgb(211, 210, 210);
    min-width: 180px;
    padding: 10px 20px;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.drop-ul li a {
    text-decoration: none;
    pad: 10px 20px;
    display: block;
    color: rgb(67, 67, 67);
}

.drop-ul li a:hover {
    color: #ff4a17;
}

.drop-ul li {
    list-style: none;
}

.nav-ul li:hover .drop-ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.bann-btn {
    opacity: 0;
    transform: translateY(60px);
    animation: fade 1s ease forwards;
}

@keyframes fade {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.sec2-one img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 1.5rem;
}

.sec2-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    opacity: 0;
    transform: translateY(60px);
    animation: fade 1s ease forwards;
}

@keyframes fade {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.f-p {
    font-size: 2rem;
}

.sec2-one p {
    font-size: 1.1rem;
}

.two-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 1.5rem;
}

.sec2-two {
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    transform: translateY(60px);
    animation: fade 1s ease forwards;
}

.two-txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.two-txt p {
    font-size: 1.1rem;
}

.two-txt ul li {
    font-size: 1.2rem;
    list-style: none;
}

.two-txt ul li span i {
    color: #ff4a17;
}

.sec2 {
    padding: 10vh 0;
}

.sec2-copy {
    display: flex;
    padding: 5vh 0;
    justify-content: space-between;
    align-items: center;
}

.two-p {
    opacity: 0.5;
    font-style: italic;
}


.counter-box {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    ;
}

.counter-box h2 {
    font-size: 3rem;
    color: #ff4a17;
    font-weight: 800;
}

.counter-box p {
    color: black;
    font-size: 1.2rem;
    opacity: 0.7;
}

.sec3 {
    width: 100%;
    padding: 5rem 0;
    margin-top: 4rem;
    background-color: #f1f4fa;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.sec4-1 {
    left: -15px;
    display: block;
    margin-top: 4rem;
}

.sec4-1 h3 {
    opacity: 0.6;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.sec4-1 h3::after {
    content: "";
    /* position: absolute; */
    height: 1px;
    width: 110px;
    background-color: #ff4a17;
    /* display: flex;
    align-items: center; */
}

.sec4-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.image img {
    height: 42vh;
    border-radius: 1.5rem;
    transition: transform 0.5s ease;
}

.image img:hover {
    transform: scale(1.15);
    border-radius: 1.5rem;
}

.image {
    overflow: hidden;
}

.boxx {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.boxx-cont {
    width: 80%;
    position: relative;
    background: white;
    padding: 40px 15px 30px;
    margin-top: -80px;
    /* 🔥 OVERLAP */
    border-radius: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-circle {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);

    width: 70px;
    height: 70px;
    border-radius: 50%;

    background: #ff4a17;
    border: 5px solid #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.icon-circle span {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.boxx:hover .icon-circle {
    background: white;
    border: 3px solid #ff4a17;
}

.boxx:hover .icon-circle span {
    color: #ff4a17;
}

.boxx:hover .image img {
    transform: scale(1.15);
    border-radius: 1.5rem;
}

.boxx:hover .boxx-cont h3 {
    color: #ff4a17;
}

.lg-imgi img {
    height: 2.5rem;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.4s ease, transform 0.4s ease;
}

.lg-imgi:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.logos {
    display: flex;
    justify-content: space-between;
}

.sec5 {
    background-color: #f1f4fa;
    padding: 3rem 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.sec5-inner {
    max-width: 1140px;
    margin: auto;
}

.boxe i {
    font-size: 3rem;
}

.boxe {
    display: flex;
    align-items: center;
    padding: 1.2rem 0.8rem;
    width: 24%;
    justify-content: center;
    gap: 1rem;
    border: 1px solid grey;
}

.boxe h2 {
    font-size: 1.2rem;

}

.sec6-1 {
    display: flex;
    justify-content: space-between;
}

.sec6 {
    padding: 4rem 0;
}

.activ {
    color: white;
    background-color: #ff4a17;
}

.sec2-2-txt {
    width: 45%;

}

.sec6-2 {
    padding: 2rem 0;
}

.sec2-2-txt ul li {
    list-style: none;
    left: -35px;
}

.sec2-2-txt ul li i {
    color: #ff4a17;
    font-size: 1.4rem;
}

.sec6-2-img img {
    height: 65vh;
}

.sec6-2 {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1s ease forwards;
}

#sec-box {
    display: none;
}

#third-box {
    display: none;
}

#four-box {
    display: none;
}

.sec7-1 h3 {
    opacity: 0.7;
    position: relative;
}

.sec7-1 h3::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: #ff4a17;
    margin: 4px 10px;
}

.sec7 {
    background-color: #f1f4fa;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.rect-1 {
    width: 49%;
    padding: 1.3rem;
    /* border: 1px solid grey; */
    display: flex;
    gap: 2rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rect-1 div i {
    font-size: 2.3rem;
    color: #ff4a17;
}

.rect-1 div p {
    font-size: 1rem;
}

.rect-1 div h2 {
    color: rgb(58, 58, 58);
}

.rect {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1s ease forwards;
}

.sec7-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
}

.rect-1:hover {
    border: 1px solid #ff4a17;
}

.rect-1:hover div h2 {
    color: #ff4a17;
}

.sec7 {
    padding: 3rem 0;
}

.sec8 {
    width: 100%;
    height: 70vh;
    background-color: #ff4a17;
    margin-top: 3rem;
    background: url(https://themewagon.github.io/Dewi/assets/img/testimonials-bg.jpg);
}

.sec8 {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    align-items: center;
}

.sec8::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.card img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.2);
}

.card h4 {
    opacity: 0.7;
}

.starrs span i {
    font-size: 1rem;
    color: gold;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: transparent;
    z-index: 10;
    color: white;
    min-width: 100%;
    border-style: none;
}


.card p {
    text-align: center;
}

.review-wrapper {
    max-width: 1320px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}

.review-track {
    display: flex;
    transition: transform 0.5s ease;
    /* justify-content: center; */

}

.dote {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(93, 92, 92);

}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 2rem;
    position: relative;
    gap: 1rem;
    z-index: 10;

}

.activee {
    background-color: white;
}

.sec10 {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* display: flex;
    align-items: center; */
    background-color: #f1f4fa;
}

.sec9-1 h2 {
    opacity: 0.7;
    font-size: large;

}

.sec9-1 h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background-color: #ff4a17;
    margin: 4px 10px;
}

.sec9-1 p {
    font-size: 2.5rem;
    font-weight: 900;
    color: #273d4e;
}

.sec9 {
    padding: 10vh 0;
}

.sec9-2-1 ul {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.sec9-2-1 ul li {
    list-style: none;
}

.sec9-2-1 ul li {
    color: black;
    font-size: 1.3rem;
}

.sec9-2-1 ul .all {
    color: #ff4a17;
}

.sec9-2-1 ul li:hover {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #ff4a17;
}

.row-box {
    height: 45vh;
    width: 32%;
    /* background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/app-1.jpg); */
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}

.url-1 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/app-1.jpg);
}

.url-2 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/product-1.jpg);
}

.url-3 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/branding-1.jpg);
}

.url-4 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/books-1.jpg);
}

.url-5 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/app-2.jpg);
}

.url-6 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/product-2.jpg);
}

.url-7 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/branding-2.jpg);
}

.url-8 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/books-2.jpg);
}

.url-9 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/app-3.jpg);
}

.url-10 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/product-3.jpg);
}

.url-11 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/branding-3.jpg);
}

.url-12 {
    background-image: url(https://themewagon.github.io/Dewi/assets/img/portfolio/books-3.jpg);
}

.row-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    opacity: 0;
    z-index: 10;
    position: relative;
}

.bis {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bis span i {
    font-size: 1.5rem;
}

.bis span i:hover {
    color: #ff4a17;
}

#btn-app {
    background-color: #ff4a17;
    border-style: none;
    color: white;
    padding: 2px;
}

.row-box:hover.row-box::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 0; */
    transition: 0.3s;

}

.row-info:hover {
    opacity: 1;
}

.row-box {
    transition: transform 0.5s ease;

}

.row-box:hover {
    transform: scale(1.15);
}

.row-1 {
    display: flex;
    justify-content: space-between;
    animation: fade 1s ease forwards;
    opacity: 0;
    transform: translateY(40px);
}

.row-2 {
    display: flex;
    justify-content: space-between;
    animation: fade 1s ease forwards;
    opacity: 0;
    transform: translateY(40px);
}

.row-3 {
    display: flex;
    justify-content: space-between;
    animation: fade 1s ease forwards;
    opacity: 0;
    transform: translateY(40px);
}

.row-4 {
    display: flex;
    justify-content: space-between;
    animation: fade 1s ease forwards;
    opacity: 0;
    transform: translateY(40px);
}

.par {
    text-align: center;
}

.sec9-2-2 {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.team-name h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: rgb(92, 89, 89);
    /* bottom: 0;
    left: 0; */
}

.team-img img {
    height: 55vh;
}

.team-img {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fade 1s ease forwards;
}

.team-name {
    width: 80%;
    background-color: white;
    padding: 0.8rem 0.8rem 0 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: -2.5rem;
}

.team-name h4 {
    font-size: 16px;
    color: #273d4e;
}

.team-name span {
    opacity: 0.7;
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
    top: -20px;
}

.socials span i:hover {
    color: #ff4a17;
}

.sec10-2 {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.sec10 {
    padding-top: 3rem;
}

.sec11-2-1 {
    width: 49%;
}

.ress i {
    color: #ff4a17;
    font-size: 24px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.ress i::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px dotted #ff4a17;
    z-index: -1;
}

.ress {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.ress h3 {
    color: #273d4e;
}

.ress p {
    color: #273d4e;
}

.call-us {
    width: 48%;
    display: flex;
    flex-direction: column;
    color: #273d4e;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.call-us i {
    font-size: 24px;
    color: #ff4a17;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: relative;
}

.call-us i::after {
    content: "";
    position: absolute;
    border: 2px dotted #ff4a17;
    border-radius: 50%;
    inset: 0;
    z-index: -1;

}

.mail-us {
    width: 48%;
    display: flex;
    flex-direction: column;
    color: #273d4e;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mail-us i {
    font-size: 24px;
    color: #ff4a17;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: relative;
}

.mail-us i::after {
    content: "";
    position: absolute;
    border: 2px dotted #ff4a17;
    border-radius: 50%;
    inset: 0;
    z-index: -1;
}

.us {
    display: flex;
    justify-content: space-between;
}

.sec11-2-1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sec11-2-2 {
    width: 49%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nam-mail {
    display: flex;
    justify-content: space-between;
}

.namee input {
    width: 100%;
    padding: 0.7rem;
}

.namee {
    width: 48%;
}

.maile {
    width: 48%;
}

.maile input {
    width: 100%;
    padding: 0.7rem;
}

.subj {
    width: 100%;
}

.subj input {
    width: 100%;
    padding: 0.7rem;
}

.mess {
    width: 100%;
}

.mess textarea {
    width: 100%;
    min-height: 88px;
    padding: 0.7rem;
}

.form-btn {
    width: 100%;
    display: flex;
    padding: 0.7rem;
    justify-content: center;
}

#btn-form {
    padding: 0.5rem 1.5rem;
    background-color: #ff4a17;
    color: white;
    border-radius: 40px;
    border-style: none;
}

.sec11-2 {
    display: flex;
    justify-content: space-between;
}

.sec11 {
    padding: 3rem 0;
}

.nxt-dewi p {
    margin: 0;
    margin-top: 0;
}

.logo1 {
    font-size: 26px;
}

.dewi1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nxt-dewi {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nxt-p3 span i {
    font-size: 1rem;
    transition: color 0.6s ease;
}

.nxt-p3 span i:hover {
    color: #ff4a17;
}

.nxt-p3 {
    padding: 1rem 0;
}

.nxt-p3 span {
    border: 2px solid rgb(255, 255, 255);
    padding: 0.7rem;
    border-radius: 50%;
    transition: border-color 0.6s ease;
}

.nxt-p3 span:hover {
    border-color: #ff4a17;
}

.nxt-p3 span:hover i {
    color: #ff4a17;

}

.in-butt {
    display: flex;
}
.in-butt input{
    padding: 0.6rem;
}
.in-butt button{
    padding: 0.6rem 1rem;
    background-color: #ff4a17;
    color: white;
    border-style: none;
}

.us-link ul li {
    list-style: none;
    transition: color 0.5s ease;

}

.us-link ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.us-link ul li:hover{
    color: #ff4a17;
}
.us-link h3{
        font-size: 21px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.us-news h3{
        font-size: 21px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.us-link{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.us-news{
    width: 32%;
}
.us-link ul li i {
    color: #ff4a17;
}
footer{
    padding: 3rem 0;
}
.foot-1-2{
    display: flex;
    justify-content: space-between;
}
.foot-1-1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.foot-2{
    height: 2px;
    background-color: #273d4e;
    width: 100%;
}
.foot-end p{
    margin: 0;
    color: white;
}
.foot-end{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
footer{
    background-color: #000910;
}
.dewi1{
    color: white;
}
.us-link{
    color: white;
}
.us-news{
    color: white;
}
em{
    color: #ff4a17;
    font-style: normal;
}
.sec3{
    width: 1520px;
}